

.todos-list {
  width: 80%;
  margin: 2rem auto;
}

.add-todo-form {
  width: 60%;
  margin: 2rem auto;
}

.todos-container {
  width: 90%;

}

.todo {
  width: 60%;
  height: 6rem;
  border: 1px solid black;
  margin: 1rem auto;
  padding: .2rem 1rem;
}

.todo-date {
  margin-top: 2rem;
}


i {
  margin-top: 1.2rem;
  float: right;
  cursor: pointer;
}
