


.image-container {
  margin: 3rem auto;
  width: 80%;
}

.photo-section {
  width: 30rem;
  height: 20rem;
  background-color: rgb(142, 142, 193);
  opacity: 0;
}

.photo-section2 {
  width: 70rem;
  height: 40rem;
  background-color: rgb(142, 142, 193);
  transition: 2s linear;
  opacity: 2;
}
.photo-invisible {
  display: none;
}
