.list-container {
  padding: 1rem;
  width: 20rem;
  float: left;
}
.list-element {
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}
.maps {
  width: 60vh;
  height: 60vh;
  background-color: antiquewhite;
}
