
#search-section {
  position: relative;
}
.search-result {
  list-style: none;
  position: absolute;
  background-color: white;
  left: 7rem;
}
.search-result li {
  width: 100%
}

.my-locations-list {
  margin-top: 4rem;
}
.searched-location {
  cursor: pointer;
}
.searched-location:hover {
  background-color: rgb(233, 231, 231);
}
