#main-container {
  margin-top: 3rem;
}
.search-result {
  list-style: none;
  position: absolute;
  background-color: white;
  width: 12rem;
  left: 4rem
}

.my-locations-list {
  margin-top: 4rem;
}
.searched-location {
  cursor: pointer;
}
.searched-location:hover {
  background-color: rgb(233, 231, 231);
}
