#navbar {
  position: sticky;
  top: 0;
  background-color: aliceblue;
  padding: 1rem;
  text-align: center;
}

#navbar * {
  margin: 0 .5rem
}

.active-link {
  color: rgb(175, 114, 15);
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}
