* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1920px;
}
.navbar a{
  margin-right: 1rem;
}
.header-container {
  display: fixed;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
}

.places-container {
  margin-top: 20px
}

.task-container {
  border: 1px solid green;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
}

.task-form {
  width: 8rem;
}

.edit-task-container {
  width: 50%;
  margin: 1rem auto;
}

#main-container {
  text-align: center;
  margin: 0 auto;
}

#signin-page-container {
  text-align: center;
  padding-top: 2rem;
}
