* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1920px;
}
.navbar-container {
  display: fixed;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;
}
.form-container {
  margin-top: 60px;
}

.places-container {
  margin-top: 20px
}
