.autocomplete-dropdown-container {
  position: absolute;
  z-index: 99;
}

.hidden {
  visibility: hidden;
}

#placespage {
  padding: .5rem;
  display: grid;
  margin-top: 1rem;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 10% 1fr 1fr
}

#placesAutoComplete {
  background-color: aquamarine;
}

.search-section {
  margin-top: 1rem;
  grid-column: 1;
  grid-row:1;
}

.location-name  {
    grid-column: 1;
    grid-row:2;
}

.location-name * {
  padding: 0.275rem;
}

.locations-list {

}
.locations-list ul {
  padding: 0;
}

.locations-list li {
    border: 3px solid burlywood;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    color:brown
}

#map {
  margin: 0 auto 0 .5rem;
}

@media only screen and (max-width: 768px) {
  #placespage {
    margin-top: 1rem;
    grid-gap: .125rem;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 23% 1fr
  }
  #map {
    margin: 0 auto 0 .125rem;
  }
}
