.autocomplete-dropdown-container {
  position: absolute;
  z-index: 99;
}

.map {
  display: block;
}

.hidden {
  visibility: hidden;
}

#placesPage{
  display: flex;
  flex-direction: row;
}

#placesAutoComplete {
  background-color: aquamarine;
}
